ul img {
  width: 150px;
  height: 150px;
  text-align: center;
}

ul {
  text-align: center;
  font-size: 1.5rem;
}

h1.op {
  text-align: center;
  margin: 1.8rem 0;
  font-size: 2rem;
}

/* style="display: flex; flex: wrap" */
